@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-color: #505050;
    --white-color: #ffffff;
    --black-color: #121212;
    --error-color: #ef4444;
    --error-light-color: #fee2e2;
    --success-color: #16a34a;
    --success-light-color: #dcfce7;

    /* Font weights */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

body {
    color: black;
    background: white;
    /* background-color: #ef4444; */
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer base {
    h1 {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-semibold;
    }
    h3 {
        @apply text-xl font-medium;
    }
    p {
        @apply text-base font-regular;
    }
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
