@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-color: #505050;
  --white-color: #ffffff;
  --black-color: #121212;
  --error-color: #EF4444;
  --error-light-color: #FEE2E2;
  --success-color: #16A34A;
  --success-light-color: #DCFCE7;
}

body {
  color: black;
  background: white;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
