@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-color: #505050;
    --gray-light-color: #4f4f4f;
    --white-color: #ffffff;
    --black-color: #121212;
    --error-color: #ef4444;
    --error-light-color: #fee2e2;
    --success-color: #16a34a;
    --success-light-color: #dcfce7;
    --border-stroke: #e0e0e0;
    --input-background: #f4f7fb;

    /* Font weights */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

body {
    color: black;
    background: white;
    /* background-color: #ef4444; */
    font-family: "Poppins !important", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@layer base {
    h1 {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-semibold;
    }
    h3 {
        @apply text-xl font-medium;
    }
    p {
        @apply text-base font-regular;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; /* Or any other color you prefer */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165); /* Color of the scrollbar handle */
    border-radius: 5px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

/* Optional: Hide scrollbar when not scrolling */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Custom Tailwind CSS */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.break-word {
    word-break: break-word;
    overflow-wrap: break-word;
}

/* Date Rabge Picker */
:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before,
:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before,
:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
    background-color: #d5f1ff !important;
}

:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled)
    .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled)
    .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-wz1edx).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled)
    .ant-picker-cell-inner {
    color: white !important;
    background-color: #08547a !important;
}

/* Customize Mui Time Picker Style */
.MuiInputAdornment-root {
    margin-left: 0px !important;
}

.MuiButtonBase-root.MuiIconButton-root {
    padding: 0px !important;
}

.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 10px !important;
    padding-right: 16px !important;
}

.MuiInputBase-input.MuiOutlinedInput-input {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    font-weight: 600 !important;
    padding: 8px 0px 8px 10px !important;
}

.MuiPaper-root.MuiPickersPopper-paper{
    border-radius: 10px !important;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMultiSectionDigitalClockSection-item.Mui-selected{
    background-color: var(--background-secondary-color) !important;
    border-radius: 5px !important;
}

.MuiMultiSectionDigitalClock-root ul{
    scrollbar-width: none !important;
}

/* Custom Spin Styles */
.custom-ant-spin .ant-spin-dot-item {
    background-color: var(--primary-color) !important;
}

/* Rating Radio Button Styles */
.ant-radio-button-wrapper {
    border: 1px solid var(--border-stroke) !important;
    border-radius: 100% !important;
}

.ant-radio-button-wrapper:before {
    display: none !important;
}

.ant-radio-button-wrapper-checked {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 100% !important;
}

/* Remove default ant-design radio button styles */
.ant-radio-button-wrapper > .ant-radio-button {
    display: none;
}

/* Search Select Styles */
.ant-select-selection-item {
    background: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ant-select-selection-item-content {
    margin-right: 0 !important;
}

.ant-select-selection-search {
    margin-inline-start: 0 !important;
}

.ant-select-dropdown {
    padding: 4px !important;
}

.ant-select-item {
    border-radius: 4px !important;
    min-height: 32px !important;
}

.ant-select-item-option-selected {
    background-color: var(--gray-light-color) !important;
    color: white !important;
}

.ant-select-selector {
    padding: 3px !important;
    padding-left: 8px !important;
    background-color: var(--input-background) !important;
    font-size: 14px !important;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light grey track background */
    cursor: pointer;
    border-radius: 10px;
}

/* This styles the scrollbar thumb (the moving part) */
*::-webkit-scrollbar-thumb {
    background-color: #0c0c0d62; /* Dark grey thumb */
    border-radius: 0.8rem;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #0c0c0d62;
    border-radius: 0.8rem;
    cursor: pointer;
}

/* This styles the scrollbar itself (width, height) */
*::-webkit-scrollbar {
    width: 5px; /* Adjust the width of the scrollbar */
    height: 5px; /* Adjust the height of the scrollbar (for horizontal scroll) */
    cursor: pointer;
}

/* Table styles */
/* Custom styles for the Ant Design table */
.ant-table {
    @apply font-sans;
}

.ant-table-thead > tr > th {
    @apply bg-white !important;
    @apply font-medium !important;
    @apply text-gray-900 !important;
    @apply text-sm !important;
    @apply px-6 py-4 !important;
    @apply border-b border-gray-200 !important;
}

.ant-table-tbody > tr > td {
    @apply border-b border-gray-200 !important;
    @apply hover:bg-gray-50 !important;
}

.ant-table-row {
    @apply bg-white !important;
    &:hover {
        @apply bg-white !important;
    }
}

.ant-pagination {
    @apply flex justify-center bg-transparent items-center gap-2 mt-4 !important;
}

.ant-pagination-item {
    @apply rounded-md border border-gray-300 !important;
}

.ant-pagination-item-active {
    @apply bg-orange-100 border-orange-500 !important;
}

.ant-pagination-item-active a {
    @apply text-orange-500 !important;
}

.ant-table-column-sorter {
    @apply text-gray-400;
}

.ant-table-column-sort {
    background-color: transparent !important;
}

.ant-table-cell-row-hover {
    @apply bg-white !important;
}

/* Add these styles if they don't exist already */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Override default carousel styles */
.carousel__slider-tray {
    display: flex !important;
    gap: 1rem !important;
    transition: transform 0.5s ease-in-out !important;
}

.carousel__slider {
    overflow: visible !important;
}

.carousel__slide {
    padding: 0 !important;
}

.carousel__inner-slide {
    position: relative !important;
    height: auto !important;
    transform: none !important;
}

.ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    background: #ffac71;
    color: var(--gray-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(10px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: backwards;
}

.text-gradient {
    color: #ffa766;
    background-image: linear-gradient(90deg, #ffa766 24%, #66dbff 64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}