.meeting-preview-modal {
    transform-origin: top left;
    will-change: transform, opacity;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.modal-hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.modal-visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
